<!-- app.component.html -->
<!--<input #datePicker />

<div #scheduler></div>-->

<!-- app.component.html -->
<!--<kendo-grid
    [data]="gridView"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    [scrollable]="'none'"
    (pageChange)="pageChange($event)">
</kendo-grid>-->

<div #spreadsheet k-sheets="sheets" ></div>

<!--<div kendo-spreadsheet="spreadsheet" k-sheets="sheets" ></div>-->


<!--<kendo-spreadsheet class="row" id="kSpreadsheet"
                   k-options="vm.spreadsheetOptions"
                   k-rebind="vm.spreadsheetOptions">
</kendo-spreadsheet>-->